/* ------------------- HEADER */
header {
	display: flex;
	justify-content: space-between;
	
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 20px;
	box-sizing: border-box;
	background: #FFF;
	z-index: 100;
}
.web-header {
	color: rgb(0, 0, 0);
}
/* ------------------- CHAPTER NAVIGATION */
nav {
	display: flex;
	flex-wrap: wrap;
	z-index: 110;
}
nav a {
	line-height: 2em;
	text-decoration: none;
	color: var(--primary, #222);
	margin: 0 10px;
	font-size: 1.6rem;
}