*{
    margin: 10px;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    background: #000000;
    text-decoration-color: #fff;
    text-align: center;
}
#home{
	position: fixed;
	right: 30px;
	top: 20px;
	cursor:pointer;
}
