*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: rgb(85, 85, 85);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.title{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    z-index: 10;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16.5px;
    text-shadow: 1px 1px 2px rgb(21, 21, 21)
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text-container{
    max-width: 600px;
    margin-top: 15%;
    margin-left: 50%;
}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
    color: #efefef;
}
.text-container h2{
    font-size: 43px;
    margin-top: 20px;
    font-weight: 300;
    color: #efefef;
    text-align:center;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.active{
    background: green;
}
.on{
    opacity: 1;
}