* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #home{
    position: fixed;
    right: 30px;
    top: 10px;
    cursor:pointer;
    }
  body, input {
    font: 80px/1.5 sans-serif;
  }
  body, input[type=checkbox]:before {
    background-image:
      linear-gradient(90deg,#f1f2f3 2px,#f1f2f300 2px),
      linear-gradient(#f1f2f3 2px,#fff 2px);
    background-repeat: repeat;
    background-size: 0.75em 0.375em;
  }
  body {
    background-position: 50% calc(50% + 0.2em);
    display: grid;
    place-items: center;
    height: 100vh;
  }
  input[type=checkbox] {
    
    --off: #ffbc5e;
    --mid: #fc5448;
    --on: #ff00ee;
    --transDur: 0.5s;
    --timing: cubic-bezier(0.6,0,0.4,1);
    animation: bgOff var(--transDur) var(--timing);
    background-color: var(--off);
    border-radius: 0.67em / 0.5em;
    box-shadow:
      0 0.05em 0.1em #00000007 inset,
      0 -0.25em 0.25em #0001 inset,
      0 -0.5em 0 #0001 inset,
      0 0.1em 0.1em #0001;
    cursor: pointer;
    position: relative;
    width: 2.25em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  input[type=checkbox]:before {
    animation: handleOff var(--transDur) var(--timing);
    background-attachment: fixed;
    background-position: 50% calc(50% - 0.1875em);
    border-radius: 0.5em / 0.375em;
    box-shadow:
      0 0.175em 0.175em 0 #0001 inset,
      0 0.375em 0 #0002 inset,
      0 0.375em 0 var(--off) inset,
      0 0.475em 0.1em #0001 inset;
    content: "";
    display: block;
    position: absolute;
    top: 0.125em;
    left: 0.125em;
    width: 1em;
    height: 0.75em;
  }
  input[type=checkbox]:checked {
    animation: bgOn var(--transDur) var(--timing) forwards;
  }
  input[type=checkbox]:checked:before {
    animation: handleOn var(--transDur) var(--timing) forwards;
  }
  input[type=checkbox]:focus {
    outline: none;
  }
  input[type=checkbox].pristine, input[type=checkbox].pristine:before {
    animation: none;
  }
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    body, input[type=checkbox]:before {
      background-image:
        linear-gradient(90deg,#3a3d46 2px,#3a3d4600 2px),
        linear-gradient(#3a3d46 2px,#2e3138 2px);
    }
    input[type=checkbox] {
      --off: #5c6270;
      --mid: #3d5fb6;
    }
  }
  /* Animations */
  @keyframes bgOff {
    from {
      background-color: var(--on);
    }
    50% {
      background-color: var(--mid);
    }
    to {
      background-color: var(--off);
    }
  }
  @keyframes bgOn {
    from {
      background-color: var(--off);
    }
    50% {
      background-color: var(--mid);
    }
    to {
      background-color: var(--on);
    }
  }
  @keyframes handleOff {
    from {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--on) inset,
        0 0.475em 0.1em #0001 inset;
      left: 1.125em;
      width: 1em;
    }
    50% {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--mid) inset,
        0 0.475em 0.1em #0001 inset;
      left: 0.125em;
      width: 2em;
    }
    to {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--off) inset,
        0 0.475em 0.1em #0001 inset;
      left: 0.125em;
      width: 1em;
    }
  }
  @keyframes handleOn {
    from {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--off) inset,
        0 0.475em 0.1em #0001 inset;
      left: 0.125em;
      width: 1em;
    }
    50% {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--mid) inset,
        0 0.475em 0.1em #0001 inset;
      left: 0.125em;
      width: 2em;
    }
    to {
      box-shadow:
        0 0.175em 0.175em 0 #0001 inset,
        0 0.375em 0 #0002 inset,
        0 0.375em 0 var(--on) inset,
        0 0.475em 0.1em #0001 inset;
      left: 1.125em;
      width: 1em;
    }
  }


  /* //second button */

  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    font-size: 18px;
    padding: 24px 80px;
    background: #ff1876;
    color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    transition: box-shadow 0.25s;
    z-index: 2;
}
.btn:active{
    background: #d80972;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.btn span{
    background: #ff1876;
    border: 1px solid #ff1876;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transform: scale(0);
}

.btn span:nth-child(1){
    top: -20%;
    left: -10%;
}
.btn span:nth-child(2){
    top: -130%;
    left: 0;
}
.btn span:nth-child(3){
    top: -50%;
    left: 10%;
    background: transparent;
}
.btn span:nth-child(4){
    top: -66%;
    left: 20%;
}
.btn span:nth-child(5){
    top: -90%;
    left: 28%;
}
.btn span:nth-child(6){
    top: -70%;
    left: 42%;
}
.btn span:nth-child(7){
    top: -80%;
    left: 60%;
    background: transparent;
}
.btn span:nth-child(8){
    top: -50%;
    left: 70%;
}
.btn span:nth-child(9){
    top: -120%;
    left: 80%;
}
.btn span:nth-child(10){
    top: -70%;
    left: 90%;
}
.btn span:nth-child(11){
    top: -80%;
    left: 100%;
    background: transparent;
}
.btn span:nth-child(12){
    top: -50%;
    left: 110%;
}
.btn span:nth-child(13){
    top: 40%;
    left: -20%;
}
.btn span:nth-child(14){
    top: 60%;
    left: 120%;
    background: transparent;
}
.btn span:nth-child(15){
    top: 160%;
    left: -10%;
}
.btn span:nth-child(16){
    top: 120%;
    left: 5%;
    background: transparent;
}
.btn span:nth-child(17){
    top: 180%;
    left: 10%;
}
.btn span:nth-child(18){
    top: 130%;
    left: 20%;
}
.btn span:nth-child(19){
    top: 180%;
    left: 33%;
    background: transparent;
}
.btn span:nth-child(20){
    top: 180%;
    left: 55%;
}
.btn span:nth-child(21){
    top: 160%;
    left: 75%;
}
.btn span:nth-child(22){
    top: 130%;
    left: 88%;
    background: transparent;
}
.btn span:nth-child(23){
    top: 140%;
    left: 100%;
}
.btn span:nth-child(24){
    top: 190%;
    left: 120%;
}

.anim{
    animation: moving 0.5s linear reverse forwards;
}

@keyframes moving {
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(1);
    }
    100%{
        top: 50%;
        left: 50%;
    }
}