body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, #fff 50%, rgb(130, 130, 130) 50%);
}
.title{
    position: fixed;
    left: 30px;
    top: 20px;
}
.title p{
    line-height: 0.01px;
}
#home{
	position: fixed;
	right: 30px;
	top: 20px;
	cursor:pointer;
}
input{
    display: none;
}

img{
    width: 100%;
    height: 100%;
}
.book{
    display: flex;
}
#cover{
    width: 250px;
    height: 400px;
}
.flip-book{
    width: 250px;
    height: 400px;
    position: relative;
    perspective: 1500px;
}
.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 5s;
    color: #000;
}
h2{
    text-align: center;
    font-size: 19px;
}
p{
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px #000 0 2px 5px #000;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: rgb(130, 130, 130); 
}
.next-btn{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000; 
}
.back-btn{
    position: absolute;
    bottom: 13px;
    left: 13px;
    cursor: pointer;
    color: #000;
}
#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}
#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;
}